.article_text {
	text-align: justify;
	color: #fff;
	font-size: 1.1em;
	height: 106px;
	overflow: hidden;
	text-indent: 3em;
}

.article-title{
	margin-top: 0px;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	color: #35000B;
}
div.img_articles {
	display: inline-block;
	width: 300px;
	margin-right: 10px;
}

.clear{
	clear:both;
}

.articles{
	cursor:pointer;
	height: 230px;
	border-left: 5px solid #7e0e26;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.articles:hover{
	border-left: 5px solid #eee;
}

.articles:hover .img_articles
{
-webkit-box-shadow: 2px 1px 7px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 7px 1px rgba(0,0,0,0.75);
box-shadow: 2px 1px 7px 1px rgba(0,0,0,0.75);
}
.articlesFull .article_text
{
	width: auto;
	height: auto;
	text-align: left;
}
.articlesFull
{
	width: 700px;
	
}
.articlesFull 
{
	width: 700px;
	
}