body, header, h1, h2, h3, footer, section, article, nav, ul, ol, table, div, p, span
{
	padding: 0px;
	margin: 0px;
}
#wrapper1
{
	
}



body 
{
	background-color: #fff;
	background-image:url("../images/backgound1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	width:100%;
}

body.middle {
	/*margin-left: 5%;*/
	padding-left: 5%;
}


/* 
------- Header section--------
 */
.inactive
{
	color: #ccc;
} 
.currentPage
{
	color: #7e0e26;
	font-size: 1.2em;
}

header
{
	height: 192px;
	text-align: center;
	position: relative;
}
#headerWrapper
{
	margin: auto;
	width: 100%;
}
#logo
{
	/*height: 130px;
	background-image: url("../images/alumni.png");
	background-repeat: no-repeat;
	margin-bottom: 0px;*/
}

nav#menu li
{
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-top: 12px;
}
ul>li>a
{
	text-decoration: none;
	padding-right: 25px;
	background-color: #5A0013;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 23px;
	border: 0px solid #7e0e26;
	border-radius: 0px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}
nav#menu>ul>li:hover>a
{
	color: #fff;
}
nav#menu, nav#menu>ul {
	height: 65px;
	background-color: rgba(126, 14, 38,0.9);
	margin-left: 0px;
	margin-bottom: 20px;
}
nav#menu>ul>li>a:hover
{
	
}
#menu .subMenu
{
	background-color: #035151;
	top: 45px;
	position: absolute;
	width: 100%;
	display: none;
}
#menu .subMenu li 
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#menu .subMenu a
{
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.1em;
	color: #fff;
	font-weight: bold;
	background-color: #035151;
	position: relative;
	display: block;
	
}

#menu .subMenu li:hover a
{
	color: #7e0e26;
}

div#search_container {

}
aside
{
	width: 19.5%;
	position: absolute;
	color: #000;
	top: 0;
	left: 75.5%;
	display: inline-block;
}
#login
{
	position: relative;
	text-align: right;
}
#login input[type="submit"] {
	background-color: #35000B;
	border: 0;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	float: left;
	width: 50px;
	margin-left: 8%;
	margin-top: 63%;
}
#login input[type="text"], #login input[type="password"] {
	background-color: #BE4B64;
	padding: 5px;
	cursor: pointer;
	border: 2px solid #5A0013;
	color: #5A0013;
	margin-bottom: 2px;
	width: 140px;
	margin-left: 5px;
}
 /* 
------- End Header section--------
 */





.hidden
{
	display: none;
}
#users
{
	margin:auto;
}
#users, #users td
{
	border: 2px solid black;
	width: 700px;
	background-color: #7e0e26;
	color: #fff;
	border-color: #fff;
}
#users td, #users th
{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#content
{
	padding: 15px;
	border: 0px solid black;
	margin: auto;
	background-color: rgba(126, 14, 38,0.9);
	min-height: 522px;
	margin-bottom: 20px;
}
.hidden
{
	display: none;
}
#pages
{
	text-align: center;
	width: 450px;
	margin: auto;
	display: none;
}
.buttons
{
	padding: 5px;
	cursor: pointer;
	font-size: 1.2em;
	color: #008;
}

.category_name1{
	background-color: #000;
	color: #0B96D0;
	opacity: 0.7;
	position: absolute;
	font-weight: bold;
	top: 310px;
	margin-left: -148px;
	padding: 5px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 137px;
	font-weight: bold;
}
.category_name2{
	background-color: #000;
	color: #0B96D0;
	opacity: 0.7;
	position: absolute;
	font-weight: bold;
	top: 520px;
	margin-left: -150px;
	padding: 5px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 137px;
	font-weight: bold;
}

input#userName-input {
	font-size: 28px;
	text-align: center;
}

#search-button{
	background-image: url("../images/search-icon.png");
	width: 20px;
	height:20px;
	margin-top: 1px;
}

/* 
------- Paging section--------
 */
.inactive
{
	opacity: 0.7;
	filter:alpha(opacity=70);
	cursor:auto !important;
} 
.currentPage
{
	color: #777 !important;
	font-size: 2em;
	cursor:auto !important;
}
.page
{
	font-size: 2em;
	color: #000;
}
#previous
{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/pageLeft.png");
	cursor: pointer;
}
#next
{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/pageRight.png");
	cursor: pointer;
}
 
 
 /* 
------- Paging section--------
 */
 
 
 /* 
------- Registration section--------
 */
 #registrationForm
 {
	color: black;
 }
  #registrationForm input[type="text"], #registrationForm input[type="password"]
  {
	padding: 5px;
	border-radius: 5px;
	color:black;
 }
 #registrationForm label
 {
	display:block;
 }
 div.labelAndInput
 {
	display: inline-block;
	width: 200px;
	margin-left: 150px;
 }
 #registrationForm>form
 {
	text-align: left;
 }
 
 /* 
------- Registration section--------
 */
 
 
 
 /* 
------- Contacts section--------
 */
 #errorloc
 {
	color: #7e0e26;
 }
 
 /* 
------- End Contacts section--------
 */
#request_holder{
	width: 185px;
	background-color: #7e0e26;
	opacity: 0.7;
}
#request_holder:hover{
	opacity: 1;
}

 /* 
------- Games section--------
 */
 #contentGame
 {
	padding: 15px;
	width: 1000px;
	margin: auto;
	background-color: #fff;
	text-align: center;
	background-image: url("../images/Game_background.png");
 }
  #contentGame>h1
  {
	color: #7e0e26;
	padding-top: 20px;
	margin-bottom: 20px;
 }
 /* 
------- End Games section--------
 */
 
 
  /* 
------- Test section--------
 */
.test_category
{
	display: inline-block;
	cursor: pointer;
	width: 300px;
	height: 200px;
	margin-top: 5px;
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px;
}
.test_category:hover {
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}
.category_img 
{
	width: 300px;
	height: 200px;
}
.category_name
{
	padding-top: 78px;
	padding-bottom: 78px;
	display: block;
	filter:alpha(opacity=70);
	background-color: #000;
	color: #fff;
	opacity: 0.7;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 300px;
	font-size: 2em;
}
 /* 
------- End Test section--------
 */
.h2-titles{
	background-color: #7e0e26;
	width: 800px;
	margin: auto;
	margin-bottom: -15px;
	color: #fff;
}
#registerButton{

	border: 0;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	background-color: #5A0013;
	border: 0px solid #7e0e26;
	border-radius: 0px;
	font-size: 1.2em;
	font-weight: bold;
	width: 20%;
	margin-right: 30px;
}

#registerButton:hover{
	background-color: #BE4B64;
}

#registrationForm > h2 {
	margin-top: 0;
}

#test-form{
	width: 800px;
	margin: auto;
	text-align: left;
	background-color: #7e0e26;
	color: #fff;
	font-size: 17px;
	border: 2px solid #fff;
	padding-left: 20px;
	padding-top: 20px;
	margin-top: 20px;
}
#submit-test{
	background-color: #035151;
	border: 0;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	width: 150px;
	margin-left: 285px;
	margin-bottom: 20px;
}
#testName{
	margin: auto;
	width: 200px;
	text-decoration: underline;
}

#search_container input[type=search] {
	width: 242%;
	margin: 0;
	padding: 0;
	padding-left: 14px;
	font-size: 12px;
	height: 28px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: none;
	line-height: 14px;
	outline: 0;
}
.big-container {
	width: 89% !important;
}

.form-input-container {
	margin-top: 20px;
}

label.radio-label {
	margin-bottom: -20px;
	margin-left: 20px;
}

input.pull-left.inline-radio {
	margin-left: 20px;
}

.img_articles_in{
	display: inline-block;
	width: 300px;
	margin-right: 80px;
	margin-bottom: 20px;
}

a#login-trigger {
	margin-right: -15%;
}

nav#menu>ul>li>a:hover {
	text-decoration: none;
	background-color: #BE4B64;
}

.no-left-margin{
	margin-left: 0px !important;
}

@media (min-width: 980px) and (max-width: 1200px) {
	.span4.pull-left.left-menu {
		margin-top: 80px;
	}

	#wrapper1 {
		max-width: 570px;
		margin-top: 80px;
	}
}

@media (min-width: 1200px){
	body {
		background-color: #fff;
		background-image:url("../images/background-fullhd.png");
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		width:100%;
		height:80%;
	}

	body.middle {
		/*margin-left: 5%;*/
		padding-left: 5%;
	}
}

h2.h2-contact {
	text-align: left;
	color: #fff;
	font-size: 20px;
}

.phpc-bar{
	display: none;
}

table.phpc-main.phpc-calendar {
	color: #fff;
	background-color: rgba(126, 14, 38,0.9);
	margin-bottom: 20px;
}

caption {
	background-color: rgba(126, 14, 38,0.9);
	border-bottom: 2px solid #fff;
}

li > a {
	color: #fff !important;
}

th.ui-state-default {
	/* background: none; */
	color: #fff !important;
	background: rgba(126, 14, 38,0.9);
}

th.ui-state-default > a {

color: #fff !important;

}

table.phpc-main.phpc-calendar > tbody > tr > td, th {
border: 1px solid #BE4B64;
}

.phpc-date.ui-state-default.ui-widget {
background-color: rgb(158, 41, 66) !important;
background: none;
}

.ui-widget > a {
	color: #fff !important;
}

a.ui-widget.ui-corner-all.ui-state-default {
	color: black !important;
}

.white_label{
	color:#fff !important;
}

table.phpc-main {
width: 100%;
color: #fff;
background-color: rgba(126, 14, 38,0.9);
}

td > input[type="submit"] {
	background-color: #BE4B64;
}

.phpc-main.phpc-event {
	padding: 15px;
	border: 0px solid black;
	margin: auto;
	background-color: rgba(126, 14, 38,0.9);
	min-height: 522px;
	margin-bottom: 20px;
	color: #fff;
}

.phpc-event-header {
	text-align: left;
}

input#submit_event {
	text-decoration: none;
	padding-right: 25px;
	background-color: #5A0013;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 23px;
	border: 0px solid #7e0e26;
	border-radius: 0px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	float: right;
}

select#time-type {
	float: left;
	margin-left: 8px;
}

select#repeats {
	float: left;
	margin-left: 8px;
}

form#addArticleForm {
	color: #fff;
	text-align: left;
}

form#addArticleForm > div > input[name="article_title"] {
	width: 100%;
	margin-bottom: 20px;
	color: black;
}

form#addArticleForm > div > textarea {
	width: 100%;
	min-height: 200px;
	margin-bottom: 20px;
	color:black;
}
input#addNewsButton {
	float: right;
	text-decoration: none;
	padding-right: 25px;
	background-color: #5A0013;
	padding-left: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0px solid #7e0e26;
	border-radius: 0px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}

tr.form-part.form-question.form-atomic-question > th {
	border: 0;
}
tr.phpc-when > th {
	border: 0;
}

tr.form-part.form-question > th {
	border: 0 !important;
}

input#subject {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-textarea > textarea {
	width: 100% !important;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
}

a.phpc-add.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
	display: none;
}

.phpc-main > thead > tr > td, th {
  /* padding: 20px !important;*/
  text-align: left !important;
}

.edit-profile {
	margin-top: -25px;
	margin-left: 0px;
}

.articlesFull {
	width: 100% !important;
}

#changeProfile{
border: 0;
float: right;
margin-top: 65px;
color: #fff;
padding: 5px;
cursor: pointer;
background-color: #5A0013;
border: 0px solid #7e0e26;
border-radius: 0px;
/* font-weight: bold; */
width: 20%;
/* margin-right: 30px; */
text-decoration: none;
font-size: 17px;
}

span.is-teacher.pull-right {
	position: absolute;
	top: 210px;
	right: 122px;
}

.events_holder {
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: -20px;
}